
.App {
	min-height: 100vh;
	height: auto;
	text-align: center;
    border: #0c75d1;
    border-width: 2cm;
	font-family: "Montserrat", sans-serif;
}

h1 {
	font-family: "Fredoka One", cursive;
	color: #070001;
}

pre {
	font-size: 24px;
	color: #0c75d1;
}

hr {
	margin-top: 20px;
	width: 60%;
}

.inp {
	width: 200px;
	height: 40px;
	border: 2px solid #113a5d;
	margin: 0px 10px;
	padding-left: 6px;
	font-size: 22px;
}

.btn {
	width: 90px;
	height: 40px;
}
